{% extends 'base.html' %}
{% block content %}
<h3>ホーム</h3>
{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} " role="alert">
            {{ message.message }}
        </div>
    {% endfor %}
{% endif %}
<form method="POST">
    {% csrf_token %}
    {{ post_form.as_p }}
    <input class="btn btn-outline-primary" type="submit" value="投稿">
</form>
{% load static %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}